@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fjalla+One&family=Montserrat&family=Source+Sans+3:wght@300&display=swap');

:root {
  --red: #FA003F;
  --orange: #EE6123;
  --yellow: #FFCF00;
  --green: #00916E;
  --blue: #0C4767;
  --background-color-linen: #FEEFE5;

  --header-font: "Montserrat";
  --body-font: "Source Sans 3";
  --landing-pg-title1: "Fjalla One";
  --landing-pg-title2: "Abril Fat Face";
}

body {
  margin: 0;
  background-color: var(--background-color-linen);
}

.header {
  margin: 0;
  width: 100vw;
  height: 30vh;
  position: absolute;
  top: 0;
  background-color: var(--blue);
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(6, 5vh);
}

.header-name {
  height: 5vh;
  z-index: 3;
  grid-column-start: 14;
  grid-column-end: 24;
  grid-row-end: 7;
}

.header-name p {
  height: 5vh;
  color: var(--background-color-linen);
  font-size: 70px;
  margin: 0;
}



.logo {
  position: absolute;
  width: 50%;
  grid-column-start: 2;
  grid-row-start: 2;
}

.logo img {
  width: 30vw;
  
}