@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fjalla+One&family=Inter&family=Lora&family=Montserrat&family=Roboto+Mono&family=Source+Sans+3:wght@300&display=swap');

:root {
  --red: #FA003F;
  --orange: #EE6123;
  --yellow: #FFCF00;
  --green: #00916E;
  --blue: #0C4767;
  --background-color-linen: #FEEFE5;

  --header-font: "Montserrat";
  --body-font: "Source Sans 3";
  --landing-pg-title1: "Fjalla One";
  --landing-pg-title2: "Abril Fat Face";
  --header: "Inter";
  --subheader: "Roboto Mono";
  --body-text: "Lora";
}

body {
  margin: 0;
  background-color: var(--background-color-linen);
  display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;

}

.header {
  position: absolute;
  margin: 0;
  top: 0;
  width: 100vw;
  height: 290px;
  background-color: var(--blue);
}

.header-name {
  position: absolute;
  right: 15px;
  bottom: 15px;
  margin: 0;
  line-height: 100px;
  font-size: 150px;
  font-family: var(--header);
  z-index: 2;
  color: var(--background-color-linen);
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
}

.logo img {
  width: 260px;
}

.top-div {
  position: absolute;
  top: 300px;
  display: flex;
  flex: row;
  width: 100%;
  margin-top: 3%;
  align-items: center;
  justify-content: space-around;
}

.skills {
  float: right;
  margin-right: 10%;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills p {
  font-family: var(--subheader);
  font-size: 24px;
  text-transform: uppercase;
}

.skills-circle {
  border: 1px solid black;
  height: 400px;
  width: 400px;
  border-radius: 50%;
}

.tabs {
  top: 0;
  margin: 24px 0 24px 0;
}

.edu-exp {
  float: left;
  margin-left: 10%;
  width: 300px;
  margin-top: 300px;
}

#education-tab, #experience-tab {
  font-family: var(--subheader);
  font-size: 24px;
  color: black;
}

.edu-exp p {
  font-family: var(--body-text);
}

.footer {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
}

.footer img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.footer p {
  position: relative;
  margin: 90px 0 10px 10px;
  color: var(--background-color-linen);
  opacity: 40%;
}

.logo-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.icon {
  height: 20px;
  width: 20px;
  margin: 3px 0 5px 0;
  border-radius: 50%;
  border: 1px solid var(--background-color-linen);
}

@media screen and (max-width: 1150px)  {
  .header-name {
    font-size: 120px;
    line-height: 80px;
  }
}

@media screen and (max-width: 1100px)  {
  .header-name {
    font-size: 100px;
    line-height: 66.66px;
  }
}

@media screen and (max-width: 960px)  {
  .header-name {
    font-size: 60px;
    line-height: 53.33px;
  }
}

@media screen and (max-width: 700px)  {
  .header-name {
    font-size: 50px;
    line-height: 33.33px;
  }
}

@media screen and (max-width: 620px)  {
  .header-name {
    font-size: 40px;
    line-height: 26.66px;
  }
}